header {
    position: fixed;
    z-index: 5;
}

/* main {
    grid-template-columns: 96vw;
} */

.blogs-collection {
    flex-direction: row;
}

.blog-posts h2 {
    font-size: 1.67em;
}

.blog-posts h3 {
    font-size: 1.67em;
}

/*  CARD-CHANGING FEATURE
    .blog-1, .blog-2, .blog-3 {
    background-position: 7vw;
} */

.card {
    width: 70vw;
    margin: 1em .5em;
    height: 3vh;
    z-index: 1;
    padding-left: 2em;
}

.card:hover {
    transform: scale(1.02, 1.02);
    z-index: 2;
}

footer {
    justify-content: space-around;
}