header {
    margin: 2em 0;
}

.card {
    padding-left: 3em;
}

.blog-posts h2 {
    font-size: 2.26em;
}

.blog-posts h3 {
    font-size: 1.59em;
}

footer {
    flex-direction: row;
    align-items: center;
}