header {
    position: fixed;
    z-index: 5;
}

nav {
    padding-left: 22vw;
}

.brand {
    font-size: 10em;
    margin: -.5em 0 1em 0;
}

.blogs-collection {
    flex-direction: row;
}

.blog-1, .blog-2, .blog-3 {
    background-position: 7vw;
    text-overflow: ellipsis;
}

.card {
    width: 70vw;
    margin: 1em .5em;
    height: 3vh;
    z-index: 1;
}

.card:hover {
    transform: scale(1.02, 1.02);
    z-index: 2;
}

footer {
    justify-content: safe;
}