header {
    position: fixed;
    z-index: 5;
}

nav > a {
    padding: 1em 0 0 30%;
}

.brand {
    font-size: 10em;
    margin: -.5em 0 1em 0;
}

.blogs-collection {
    flex-direction: row;
}

/*  CARD-CHANGING FEATURE
    .blog-1, .blog-2, .blog-3 {
    background-position: 7vw;
} */

.card {
    width: 70vw;
    margin: 1em .5em;
    height: 3vh;
    z-index: 1;
}

.card:hover {
    transform: scale(1.02, 1.02);
    z-index: 2;
}

footer {
    justify-content: safe;
}