nav > a {
    width: 50%;
    padding: 1em 0 1em 2em;
    font-size: 1em;
}

.brand {
    font-size: 2.7em;
}

.card {
    padding-left: 3em;
}

.blog-posts h2 {
    font-size: 2.26em;
}

.blog-posts h3 {
    font-size: 1.59em;
}

footer {
    flex-direction: row;
    align-items: center;
}