* {
    margin: 0;
    padding: 0;
    font-family: "roboto";
}

body, input, textarea {
    background: #1f1e1e;
    color: rgb(212, 208, 208);
}

main {
    box-sizing: border-box;
}

section p {
    font-family: 'roboto-thin';
    line-height: 2em;
    padding:  .5em 0 1em 1em;
}

.text-gradient {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(#fdf9f6, #7d8081);
    -webkit-background-clip: text;
    background-clip: text;
}

h2, h3 {
    color: #e4e4e4;
    padding: 1em 0 0 .5em;
}

#content {
    display: flex;
    flex-direction: column;
    max-width: 92%;
    text-overflow: clip;
}

.header-text {
    position: relative;
    z-index: 5;
}

.blog-meta {
    font-size: .8em;
}

.bio {
    display: flex;
    height: 3.5em;
}

#content h1 {
    max-width: 80%;
    padding: 16vh 0 0 5vw;
    font-size: 2.2em;
}

#content header {
    color: #2b2b2b;
}

#content header::before {
    content: "";
    padding-left: .5em;
    position: absolute;
    min-height: 70vh;
    min-width: 98vw;
    background: linear-gradient(to bottom right, #e2e2e24f, #b8b8b827, #a7a6a683, #929292ad, #9999998c, #36363667);
    background-position-x: .5em;
    z-index: 2;
}

#content footer {
    max-width: 80%;
    margin: 15vh 0 10vh 5vw;
    z-index: 3;
}

.avatar {
    height: 2em;
    width: 2em;
    margin: 0 .3em -.5em 0;
}

.author {
    font-weight: 990;
}

.timestamp {
    padding: 0 0 0 5vw;
    font-size: .7em;
}

.icon {
    height: 1em;
    width: 1em;
    margin: .5em .4em 0 1em;
}

.timestamp .icon {
    width: 1.5em;
    height: 1.5em;
    margin: 0 .3em -.3em .3em;
}

#intro {
    font-style: italic;
}

blockquote {
    padding-left: 5vw;
}

button {
    width: 30%;
    min-height: 7vh;
    font-size: 1em;
    padding: 0 .5em;
    color: #000000;
    background: linear-gradient(#dddddd, #545455);
    border: none;
    border-radius: .2em;
    box-shadow: 0 0 .5em #353434;
}

.like-button {
    box-sizing: border-box;
    margin: 0 0 1.5em 0;
}

.like-button img {
    width: 1em;
    height: 1em;
    margin: 0 .4em;
}

.social {
    height: 1vh;
    width: 45vw;
    margin: .2em 0 .2em 0;
}

.social a img {
    height: 3em;
    width: 3em;
    margin: 0 .5em 0 0;
}

#review {
    box-sizing: border-box;
    margin: .5em 0 2em 1em;
}

#review form {
    font-family: "roboto-thin";
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

#review form input {
    height: 8vh;
    margin: 2em 0;
    padding: 0 1em;
    font-family: "roboto-thin";
    font-size: 1em;
}

#review form input::placeholder {
    padding: 0 .5em 0 -.5em;
    font-size: 1em;
    font-family: "roboto-thin";
    color: #949797;
}

#review form textarea {
    padding: .5em;
    font-size: 1.2em;
    font-family: "roboto-thin";
    color: #949797;
}

#review form input, textarea {
    border: none;
    border-radius: .1em;
    box-shadow: 0 0 .2em #626464;
}

.submit-button {
    margin: 1em 0 3em 70%;
}

#hyperlinks {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 3em 0 3em 5vw;
}

#hyperlinks a {
    color: rgb(212, 208, 208);
    text-decoration: none;
    width: 20%;
}

#blog-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    font-size: 1.5em;
    font-weight: 1000;
    min-height: 5em;
    background: linear-gradient(to bottom right, #1b1b1b, #242323, #1e1e1f, #1d1f1f, #222222, #1a1919);
    box-shadow: 0 0 1em #252727;
}

.logo {
    display: flex;
}

.logo span img {
    height: 2em;
    width: 2em;
}

@media screen and (min-width: 500px) {
    #content h1 {
        padding-top: 10vh;
    }

    .bio {
        height: 3em;
    }

    button {
        min-height: 12vh;
        width: 25%;
    }

    .submit-button {
        margin-left: 75%;
    }
    
    #review form input {
        min-height: 12vh;
    }
}

@media screen and (min-width: 48em) {
    #content section {
        width: 95%;
        margin: 0 auto;
    }

    #content {
        margin-bottom: 2em;
    }

    #content h1 {
        font-size: 2.55em;
        padding-top: 20vh;
    }

    .blog-meta {
        font-size: .6em;
    }

    button {
        font-size: 1.2em;
        min-height: 8vh;
        width: 25%;
    }

    #review form input {
        height: 6vh;
    }

    .like-button {
        margin-left: 2%;
    }

    .submit-button {
        margin-left: 75%;
    }
}

@font-face {
    src: url('../static/font/Roboto-Medium.ttf');
    font-style: normal;
    font-family: 'roboto';
    font-display: swap;
}

@font-face {
    src: url('../static/font/Roboto-Light.ttf');
    font-style: normal;
    font-family: 'roboto-thin';
    font-display: swap;

}