@import url("style.css");

#content header {
    box-sizing: border-box;
    background: url("../static/blog-1-background.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    min-width: 98vw;
}